*{
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1176px;
  margin: auto
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/*header*/

header a{
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

header a:hover{
  color: #0282f9;
  border-bottom: #0282f9 5px solid;
  padding-bottom: 65px;
}
