*{
  padding: 0;
  box-sizing: border-box;
}

.container
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1176px;
  margin: auto
}

body {
  font-family: 'Open Sans Variable', sans-serif;
}

/*header*/

header a{
  text-decoration: none;
  margin-right: 1rem;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

header a:hover{
  color: #0282f9;
  border-bottom: #0282f9 5px solid;
  padding-bottom: 65px;
}

/*main*/

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* .row div {
  text-align: center;
  flex: 1 1 calc(20% - 20%);
  max-width: 200px;
} */

.row a{
  margin: 0 16px;
}

.title-section {
  background-color: black;
  color: white; 
  padding: 20px 0; 
  text-align: center;
  margin-top: 30px;
}

.title-section h1 {
  font-size: 1.5rem; 
  margin: 0; 
  margin-top: 15px;
  margin-bottom: 15px;
}

main a {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans Variable', sans-serif;
}

main a:hover {
  color: blue;
}

.main-icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 0 auto 10px auto;
}

.main-bg {
  background-color: #0282f9;
}
